
.App {  
  display: flex;
  flex-direction: column; 
  text-align: center;
}

h1 {
  font-weight: 200;
}

.App .linha {
  display: flex;
  justify-content: center;
  flex: 1;
  align-self: stretch;
}